
/*Обнуление*/
*{
	padding: 0; /*Внутренний отступ*/
	margin: 0; /*Внешний отступ*/
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body 
	{
		font-family: 'Raleway', sans-serif;
	}	
.logo 
	{
	-webkit-animation: color 10s ease-in-out infinite;
	-moz-animation: color 10s ease-in-out infinite;
	-o-animation: color 10s ease-in-out infinite;
	animation: color 60s ease-in-out infinite;
    color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	}

 @keyframes color { /*colors that we used in animation*/
	0%{background-color: #ff0000;} /*red*/
	12.5%{background-color: #ff7f00;} /*orange*/
	25%{background-color: #ffff00;} /*yellow*/
	37.5%{background-color: #00ff00;} /*green*/
	50%{background-color: #00ffff;} /*cyan*/
	62.5%{background-color: #0000ff;}	/*blue*/ 
	75%{background-color: #ff00ff;}	 /*magenta*/
	87.5%{background-color: white;}	
	95%{background-color: #ffa8a8;} /*light red*/
	100%{background-color: #ff756c;}	
	}
.logo_center
	{
		text-align: center;
		font-family: 'Dela Gothic One', cursive;
		padding: 20px;
		max-width: 100%;
		box-sizing: border-box;
		font-size: 18px;
		color: black;
	}
nav
	{
		margin: auto;
		width: 800px;
		height: 50px;
	}
.topmenu
	{
		font-size: 14px;
		margin-top: 40px;
		background-color: white;
	}
.topmenu a 
	{
		color: black;
		font-family: 'Dela Gothic One', cursive;
		text-align: center;
		padding: 14px 14px;
		font-size: 15px;
	}
.topmenu a:hover /* Под кнопочкой черная линия */
	{
		border-bottom: 2px solid #00ff00;
		/*transition: 0.7s;*/
	}
.topmenu .burger 
	{
		display: none;
	}
.main_photo
	{
		width: 70%;
		height: 600px;
		display: block;
		margin: auto;
	}
.mainphoto_theme
	{
		background-color: lightgrey;
	}		
.icons_container
	{
		display: flex;
		justify-content: center;/* выравнивание элемента вдоль гор оси */
	}
.icons
	{
		padding-top: 100px;
		padding-bottom: 40px;
		width: 70%;
		display: flex;
		font-style: monospace;
		font-size: 17px;
		color: black;
		text-align: center;
		justify-content: space-between;
		flex-wrap: wrap; /* перенос */
	}
.icon_list
	{
		width: 30%;
	}
footer
	{	
		width: 100%;
		height: auto;
		background-color: black;
		margin:0 auto;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 5px;
	}
footer a 
	{
		color: white;
		font-family: 'Dela Gothic One', cursive;
		font-size: 16px;
	}
footer a 
	{
		color: white;
		font-family: 'Dela Gothic One', cursive;
		font-size: 16px;
	}
.footer_icons img
	{
		padding:10px;
	}
footer .footer_logo
	{
		padding-bottom: 20px;
		font-size: 50px;
	}
.gallery
	{
		width: 80%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
.photo-itm
	{
		width: 25%;
	}
.photo-itm img
	{
		box-sizing: border-box;
		max-width: 100%;
	}
.blog-container
	{
		font-family: monospace;
		background-color: #fafafa;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.2) 0 4 px 2 px -2px;
		font-weight: 100;
		margin: 48px auto;
		width: 50rem;
	}
.blog-container h1
	{
		font-size:default;font-weight: default;
		font-family: 'Raleway', sans-serif
	}
.blog-cover
	{
		background: url(../img/background.jpg);
		background-size: cover;
		border-radius: 5px;
		height: 15rem;
		box-shadow: inset rgba(0, 0, 0, 0.2) 64px 64px 64px 64px; 
	}
.blog-body
	{
		width: 80%;
		margin: auto;
	}	
.blog-tittle
	{
		color: Black;
		font-size: 16px;
	}
.blog-text p
	{
		color: black;
		border: 1px solid grey;
		border-radius: 3px;
	}
.blog-tags ul
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		padding-left: 0;
	}
.blog-tags li
	{
		margin-left: .5rem;
	}
.blog-tags a
	{
		border: 1px solid grey;
		border-radius: 3px;
		color: grey;
		font-size: .75rem;
		height: 1.5rem;
		line-height: 1.5rem;
		letter-spacing: 1px;
		padding: 0 .5rem;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		width: 5rem;
	}
.blog-footer
	{
		margin: 0 auto;
		padding-bottom: .125rem;
		width: 80%;
	}
.blog-footer ul
	{
		list-style: none;
		display: flex;
		flex: row wrap;
		justify-content: flex-end;
		padding-left: 0;
	}
.blog-footer li
	{
		color: grey;
		font-size: .75rem;
		height: 1.5rem;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		white-space: nowrap;
	}
.published-date
	{
		border: 1px solid grey;
		border-radius: 3px;
		padding: 0 .5rem;
	}
@media screen and (max-width: 768px) /* Делаем определенные настройки для экранов меньше 768px */
	{
		.topmenu a:not(:first-child)
			{
				display: none;
			}
		.topmenu a.burger
			{
				float: right;
				margin-top: -17px;
				display: block;
				color: black;
			}
		nav
		{
			width: 100%;
			height: 100px;
		}
		.topmenu.responsive
		{
			position: relative;
		}
		.topmenu.responsive a.burger
		{
			position: absolute;
			right: 0;
			top: 0;
		}
		.topmenu.responsive a
		{
			float: none;
			display: block;
			text-align: left;
		}
		.icons
		{
			flex-direction: column;
		}
		.icon_list
		{
			width: 100%;
		}
		.photo-itm
		{
			width: 45%;
			margin-left: 10px;
			margin-bottom: 10px;
		}
		.blog-container
		{
		width: 28rem;
		}
	}

@media screen and (max-width: 900px)
	{
		.main_photo
			{
				display: flex;
				width: 100%;
				height: 300px;
			}
		.project
		{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.gallery
		{
			margin: auto;
			width: auto;	
		}
			
	}